<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
    List of available environments
    Lista de Ambientes disponíveis

    For each environment, create a "section" tag, as shown in the example below:
    Para cada ambiente, crie uma tag "section", conforme o exemplo abaixo:

    <section name="NameOfEnvironments" type="System.Configuration.AppSettingsSection" />
  -->
  <configSections>
    <sectionGroup name="Environments">
      <!-- Default Environments / Ambiente Padrão -->
      <section name="Default" type="System.Configuration.AppSettingsSection" />
      <!-- You can create another environments / Você pode criar outros ambientes -->
      <section name="Development" type="System.Configuration.AppSettingsSection" />

    </sectionGroup>
  </configSections>
  <Environments>

    <!--
      Crie uma tag com o nome do ambiente e adicione as chaves "OrganizationUrl", "AppId", "AppSecret"
      Create a tag with the name of the environment and add the keys "OrganizationUrl", "AppId", "AppSecret"
    -->
    <Default>
      <add key="OrganizationUrl" value="http://your-organization.crm.dynamics.com/"/>
      <add key="AppId" value="00000000-0000-0000-0000-000000000000"/>
      <add key="AppSecret" value="your-app-secret"/>
    </Default>

    <Development>
      <add key="OrganizationUrl" value="http://your-organization2.crm.dynamics.com/"/>
      <add key="AppId" value="00000000-0000-0000-0000-000000000000"/>
      <add key="AppSecret" value="your-app-secret"/>
    </Development>
    
  </Environments>
</configuration>